.banner {
    background: url("akip.jpg") 
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

img{
    scale: 50%;
}

body {
    background-color: #132043;
    color: white;
}


footer{
    background-color: black;
    margin-bottom: -50px;
}

